   
    <header class="Header__container">
        <div class="Header__left">
       
          <div class="Header__title">
            <h1>HOME</h1>
          </div>
        </div>
        <menu class="Header__menu">
         
          <li class="Header__menuItem hero">
             <form class="sign-out"  action="/logout" method="POST">
        <button class="button-73" role="button" type="submit">Sign Out</button>
    </form>
          </li>
        </menu>
      </header>
      <main>
        <section class="Hero">
          <div class="Hero__content">
            <h2 class="Hero__title">This page is under construction...</h2>
          </div>
        </section>
      </main>

    <p>Welcome to the Home Page!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate dolorem, explicabo voluptates distinctio amet ea aut quo, quod sunt exercitationem, modi nesciunt similique recusandae dolores quos error ratione! Dolor, laboriosam.</p>

